body {
  margin: 0;
  padding: 0;
}
.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  flex-direction: column;
  background-color: #006eb4;
  color: white;
  padding: 2rem 0 6rem 0;
}

.catalog-card__heading {
  font-size: 1.25rem;
  font-weight: 900;
  margin: 0;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  color: black;
  flex-wrap: wrap;
}

.card-wrapper div {
  width: 25%;
  background: white;
  padding: 1rem;
  margin: 0.5rem
}

.catalog-card__summary {
  font-size: 0.875rem;
  font-weight: 400;
  margin: 0.5rem 0 0;
}

.catalogs-page__heading {
  color: white;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1em;
  margin: 2.5rem 0 0 0;
}

.welcome-body {
  width: 70%;
  line-height: 1.5rem;
  padding-bottom: 0.5rem;
}